/* custome styles */
@font-face {
    font-family: 'Strangelove';
    src: url('fonts/strangelove-text-webfont.eot');
    src: url('fonts/strangelove-text-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/strangelove-text-webfont.woff2') format('woff2'),
         url('fonts/strangelove-text-webfont.woff') format('woff'),
         url('fonts/strangelove-text-webfont.ttf') format('truetype'),
         url('fonts/strangelove-text-webfont.svg#Strangelove') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Modern20';
    src: url('fonts/modern20_bt_roman-webfont.eot');
    src: url('fonts/modern20_bt_roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/modern20_bt_roman-webfont.woff2') format('woff2'),
         url('fonts/modern20_bt_roman-webfont.woff') format('woff'),
         url('fonts/modern20_bt_roman-webfont.ttf') format('truetype'),
         url('fonts/modern20_bt_roman-webfont.svg#Modern20') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	height: auto;
    color: #483247;	
}
h1{
	color: #066682;
	text-transform: uppercase;
	font-family: 'Strangelove';
	font-size: 5em;
}
h2{
    color: #483247;
    text-transform: uppercase;
    font-family: 'Strangelove';
    font-size: 4em;
    letter-spacing: 1.3px;
}
h3{
    color: #483247;
    text-transform: uppercase;
    font-family: 'Strangelove';
    font-size: 2.5em;
    letter-spacing: 1.3px;
}
h4{
    color: #066682;
    text-transform: uppercase;
    font-family: 'Strangelove';
    font-size: 2em;
}
h5, h6 {
    font-family: 'Strangelove';
    color: #FFF;
    text-rendering: optimizeLegibility;
    letter-spacing: 2px;
    font-size: 2em;
}
strong{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2em;
}
ul{
    list-style-type: none;
}       
li {
	font-size: 1em;
} 
a{
	color: #bd1e67;
}
    a:hover{
    	color: #bd1e67;
    }
    a:visited{
        color: #bd1e67;
    }
.main-sections{
    min-height: 550px;
   
}
input[type="text"], input[type="password"] ,textarea{
    border-radius: 5px;
    border: 1px dotted #066682;
}
table {
    width: 100%;
    background-color: #f2f2f2;/*#FAE1C6*/
    margin-bottom: 1.25rem;
    border-left-color: #483247;
    border-left-style: solid;
    border-left-width: 7px;
    border-right-color: #483247;
    border-right-style: solid;
    border-right-width: 7px;
    border-top-color: #483247;
    border-top-style: solid;
    border-top-width: 3px;
    border-bottom-color: #483247;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-radius: 5px;
}
    table thead{
      background-color: #c2d6db;
    }
    table thead tr th{
      font-family: 'Strangelove';
      font-size: 1.7em;
      letter-spacing: 1px;
      color: #483247;
    }
    table tbody tr td{
      color: #483247;
      font-family: 'Modern20';
      padding: 0.4rem 0.4rem;
      width: auto;
      text-transform: capitalize;
    }
    table tbody tr td a{
        color: #483247;
    }
footer{
    background-color: #066682;
    width: 100%;
    height: 100px;
    color: #FFF;
    padding: 30px 50px 0px 50px;
}
.error{
    font-weight: normal;
    margin-bottom: 1.25rem;
    position: relative;
    padding: 0.875rem 1.5rem 0.875rem 0.875rem;
    font-size: 0.8125rem;
    color: #fff;
    background-color: #066682;
    border: 1px solid #483247;
    font-family: 'Modern20';
    text-transform: capitalize;
    border-radius: 5px;
    margin-top: -12px;
}
.send{
    background-color: transparent;
    border: none;
}
    .send img{
        width: 125px !important;
        border: none;
    }
    .send:hover{
        background-color: transparent;
        border: none;
    }
.submit{
      background-color: transparent;
      border: 1px solid #bd1e67;
      font-family: 'Strangelove';
      font-size: 2em;
      padding: 10px 20px;
      text-transform: uppercase;
      color: #483247;
      letter-spacing: 1px;
      transition: all .3s ease-in-out;
    }
    .submit:hover{
        background-color: #bd1e67;
        border: 1px solid #bd1e67;
        color: #FFF;
    }
    td .submit{
      background-color: #bd1e67;
      border: 1px solid #bd1e67;
      font-family: 'Strangelove';
      color:#fff;
      letter-spacing: 1px;
      font-size: 2em;
      padding: 10px 20px;
      text-transform: uppercase;
      width: 100%;
      transition: all .3s ease-in-out;
    }
        td .submit:hover{
          background-color: transparent;
          border: 1px solid #bd1e67;
          color: #483247;
        }
.delete{
      background-color: #066682;;
      border: 1px solid #066682;
      font-family: 'Strangelove';
      letter-spacing: 1px;
      font-size: 2em;
      padding: 10px 20px;
      text-transform: uppercase;
      width: 100%;
      transition: all .3s ease-in-out;
      text-align: center;
    }
    .delete:hover{
      background-color: transparent;
      border: 1px solid #066682;
      color: #483247;
    }
.section{
	margin: 15% 0px;
}
.row .title ,.left{
    text-align: left !important;
}
.title , .right{
    text-align: right !important;
}
.reveal-modal {
    border-left-color: #483247;
    border-left-style: solid;
    border-left-width: 7px;
    border-right-color: #483247;
    border-right-style: solid;
    border-right-width: 7px;
    border-top-color: #483247;
    border-top-style: solid;
    border-top-width: 3px;
    border-bottom-color: #483247;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-radius: 5px;
}
    .reveal-modal .close-reveal-modal{
        font-family: 'Strangelove';
        color: #066682;
        font-size: 2.5em;
    }
.main-container{
    background-color: #ebd7c2; /*#efd7bd #ebd7c2 #FAE1C6*/
    margin: 20px;
	font-family: 'Modern20';
	color: #483247;
}
.move-down{
    float: right;
    position: fixed;
    z-index: 2;
    top: 500px;
    right: 0px;"
}
#home{
	margin-bottom: 0px;
}
#nav-container{
    padding-top: 3%;
    text-align: center;
}
    #nav-container img{
        max-height: 115px;
    }
    #nav-container .large-block-grid-5{
        text-align: center;
    }
	#nav-container .large-block-grid-5 ul{
	    text-align: center;
	}
    #nav-container .large-block-grid-5 li{
        text-align: center;
    }
.showOverlay{

}
#logo-container{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5px; 
}
	#logo-container img{
        width: 65%;
        height: auto;  
    }
.socialmedia-container div {
    text-align: center !important;
}
#social-nav li{
    display: inline-block !important;
    text-transform: uppercase;
    font-family: 'Strangelove';
    font-size: 2.5em;
}

    #social-nav li:hover{
    	border-bottom: 1px solid #066682;
    }
    #social-nav li:visited{
    	color: #bd1e67;
    }
.title, .right h1{
	text-align: right;
}
.sidescroll{
    float: left;
    z-index: 9999;
    position: fixed;
    top: 200px;
    left: 2em;
    text-align: left !important;     
}
    .sidescroll img{
        width: 50px;
        background-color: #fff;
        border-radius: 100%;
        display: block;
        margin-bottom: 10px;
        opacity: 0.55;
        filter: alpha(opacity=55);
    }
    .sidescroll img:hover{
        opacity: 1.0;
        filter: alpha(opacity=100);
        border:1.5px solid #066682; 
    }
.content-container {
	padding-left: 45%;
	height: 425px;
}
.content{
	height: 100%;
	overflow: auto;
	text-align: left;

}
.about-icons{
    clear: left;
    float: right;
}
#listen-container{ 
	text-align: left;
}
    #listen-container img{
    	max-width: 245px;
    	transition: all .2s ease-in-out; 
    }
    #listen-container img:hover{
        transform: scale(.9);
    }
#player-container{
    width: 240px;
    height: auto;
    margin-top: 20px;
    text-align: center;
    position: absolute;
}
.lyrics-title{
	padding: 0px;
	margin-top: -100px;
}
.G-overlay{
	text-align: right;
	float: right;
	margin-bottom: -1600px;
}
    .G-overlay img{
    	z-index: 1;
    	width: 575px;
        height: 1700px;
    }
#videos div div {
    margin-bottom: 2%;
}
#video-wrapper{
    border-left-color: #bd1e67;
    border-left-style: solid;
    border-left-width: 7px;
    border-right-color: #bd1e67;
    border-right-style: solid;
    border-right-width: 7px;
    border-top-color: #bd1e67;
    border-top-style: solid;
    border-top-width: 3px;
    border-bottom-color: #bd1e67;
    border-bottom-style: solid;
    border-bottom-width: 3px; 
    border-radius: 5px;    
    height: 375px;
    width: 70%;
}
#events div div{
     margin-bottom: 1%;
}
#show-listings{
     text-align: right;
     margin-left: 35px;
}
/*.show-slider img{
	height: 200px;
	width: 200px;
	border-radius: 100%;
	border: 2px solid #066682;
    transition: all .2s ease-in-out; 
}*/
#contact-form a{
    color: #483247;
}
/*////////////////////////

        ADMIN PAGES

////////////////////////*/
.admin{
    background-color: #ebd7c2;
    font-family: 'Modern20';
}
.admin-login{
    margin-top: 10%;
}
.login-img img{
    width: 500px;
}
.tabs{
    height: 100%;
}
.top-bar{
    background-color: #066682;
}
.top-bar.expanded .title-area {
    background-color: #066682;
}
.top-bar-section ul{
    float: right;
    text-align: right;
    background-color: #bd1e67;
}
    .top-bar-section ul li>a{
        font-family: 'Strangelove';
        font-size: 1.8em;
        letter-spacing: 1.5px;
    }
.top-bar-section .has-dropdown>a{  
    background-color: #066682 !important;
    transition: all .2s ease-in-out;
}
    .top-bar-section .has-dropdown>a:hover{
        background-color: #1b1464;
    }
.top-bar-section li:not(.has-form) a:not(.button){
    background-color: #066682;
    transition: all .2s ease-in-out;
}
    .top-bar-section li:not(.has-form) a:not(.button):hover{
        background-color: #1b1464;
    }
.top-bar-section li.active:not(.has-form) a:not(.button){
    background-color: #066682;
    transition: all .2s ease-in-out;
}
    .top-bar-section li.active:not(.has-form) a:not(.button):hover{
        background-color: #1b1464;
    }
.content{
    margin-top: 3%;
}
.logoRow{
    margin: 0px;
    background-color: #066682;
    text-align: center;
    padding: 20px 0px; 
    min-width: 100%;
}
.logoRow div img{
    width: 75%;
}
.name img{
    width: 200px;
    padding: 10px 0 0 15px;
}
.edit-box{
    border-left-color: #483247;
    border-left-style: solid;
    border-left-width: 7px;
    border-right-color: #483247;
    border-right-style: solid;
    border-right-width: 7px;
    border-top-color: #483247;
    border-top-style: solid;
    border-top-width: 3px;
    border-bottom-color: #483247;
    border-bottom-style: solid;
    border-bottom-width: 3px;     
    height:auto;
    width: 100%;
    border-radius: 5px;
    }
.adm-inputA{
    width: 100%;
}
.adm-input{ 
    width: 65%;
}
.admin-photos li img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 350px;
    height: 150px; 
}
.admin-photos li .delete{
     border-top-left-radius: 0px;
     border-top-right-radius: 0px;
}
.settings-form{
    width: 50%
}
/*///////////////////

    MEDIA QUERIES

//////////////////*/

/* Small screens*/
        @media only screen { 
            
            } /* Define mobile styles */

        @media only screen and (max-width: 40em) {
            .main-container{
        		padding: 20px;
        		background-image: none;
        	}
            .main-sections{
                height: auto;
            }
            #logo-container img{
                width: 100%;
            }
            #social-nav li{
                font-size: 1.4em !important;
            }
             .section{
                margin: 5% 0px;
            }
            #nav-container{
                margin-bottom: 0px;
            }
            #home{
                margin-bottom: 0px;
            }
            .title h1 , h3{
                text-align: center !important;
            }
            .content-container {
                padding-left: 0px;
                height: auto;
                text-align: center;
                margin-bottom: 15%;
            }
            .content{
                text-align: justify;
            }
            #listen-container{ 
                text-align: center;
                margin-bottom: 5%;
            }
            .lyrics-title {
                margin-top: 5%;
            } 
            p{
                font-size: .8em;
            } 
            #video-wrapper{
            	text-align: center;
            	width: 100%;
            	height: 250px;
            }
            #events ul li{
            	text-align: left;
            }  
            .sidescroll{
                float: left;
                z-index: 9999;
                position: fixed;
                top: 420px;
            } 
            .sidescroll img{
                width: 50px;
                background-color: #fff;
                border-radius: 100%;
                display: inline-block;
                margin-bottom: 10px;
                opacity: 0.55;
                filter: alpha(opacity=55);
            }
            #player-container{
                min-width: 100%;
                text-align: center;
            }
            #lyrics{
                margin-top: 25%;
            }
            .login-container{
                margin-top: 15%;
            }
            .login-img img{
                width: 100%;
            }
            .top-bar-section ul{
                float: right;
                text-align: center;
            }
            .adm-inputA{ 
                width: 100%;
            }
            .adm-input{ 
                width: 100%;
            }
            .delete{
                padding: 10px 5px;
                font-size: 1.5em;
            }
            table thead tr th{
                font-size: 1.5em;
                letter-spacing: .5px;
            }
            table tbody tr td{
                padding: 0.2rem 0.2rem;
                font-size: .9em;
            }
            .settings-form{
                width: 100%;
            }             
        } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

        // Medium screens
        @media only screen and (min-width: 40.063em) {
        	.main-container{
        		padding:20px;
        		background-image: none;
        	}
            .main-sections{
                height: auto;
            }
             .sidescroll{
                left: 1.5em;     
            }
            #social-nav li{
                font-size: 1.4em !important;
            }
            .section{
                margin: 5% 0px;
            }
            #nav-container{
                margin-bottom: 0px;
            }
            #home{
                margin-bottom: 0px;
            }
            .title h1 , h3{
                text-align: center !important;
            }
            .content-container {
                padding-left: 0px;
                height: auto;
                text-align: center;
                margin-bottom: 15%;
            }
            .content{
                text-align: justify;
            }
            p{
                font-size: .8em;
            }
            #listen-container{ 
                text-align: center;
                margin-bottom: 5%;
            } 
            .lyrics-title{
                margin-top: 5%;
            } 
            #video-wrapper{
            	text-align: center;
            	width: 100%;
            	height: 350px;
            }
            #events ul li{
            	text-align: center;
            }
            #player-container{
                min-width: 100%;
                text-align: center;
            }
            #lyrics{
                margin-top: 15%;
            }
            .login-img{
                text-align: center !important;
            }
            .login-img img{
                width: 75%;
            }
            .logoRow div img{
                width: 50%;
            }
            .top-bar-section{
                text-align: center;
            }
            .adm-inputA{ 
                text-align: center;
                width: 75%;
            }
            .adm-input{ 
                width: 100%;
            }
            .delete{
              padding: 10px 5px;
              font-size: 1.5em;
            }
            table thead tr th{
                font-size: 1.5em;
                letter-spacing: .5px;
            }
            table tbody tr td{
                padding: 0.2rem 0.2rem;
                font-size: .9em;
            }
            .settings-form{
                width: 75%;
                padding-left: 5%;
            }
         } /* min-width 641px, medium screens */

        @media only screen and (min-width: 40.063em) and (max-width: 64em) { 
        	.main-container{
        		padding:20px;
        		background-image: none;
        	}
            .main-sections{
                height:auto;
            }
            .sidescroll{
                left: 1.5em;     
            }
            #social-nav li{
                font-size: 1.4em !important;
            }
             .section{
                margin:5% 0px;
            }
            #nav-container{
                margin-bottom: 0px;
            }
            #home{
                margin-bottom:0px;
            }
            .title h1 , h3{
                text-align: center !important;

            }
            .content-container {
                padding-left:0px;
                height:auto;
                text-align: center;
                margin-bottom: 15%;
            }
            .content{
                text-align: justify;
            }
            p{
                font-size: .8em;
            }
            #listen-container{ 
                text-align: center;
                margin-bottom: 5%;
            }  
            .lyrics-title{
                margin-top:5%;
            }
            #video-wrapper{
            	text-align: center;
            	width:100%;
            	height:350px;
            }
            #events ul li{
            	text-align: center;
            }
            #player-container{
                min-width:100%;
                text-align: center;
            }
            #lyrics{
                margin-top:15%;
            }
            .login-img{
                text-align: center !important;
            }
            .login-img img{
                width:75%;
            }
               .logoRow div img{
      width:50%;
    }
    .top-bar-section{
      text-align: center;
    }
    .adm-input{ 
        width:100%;
    }
    .delete{
      padding:10px 5px;
      font-size: 1.5em;
    }
    table thead tr th{
      font-size: 1.5em;
      letter-spacing: .5px;
    }
    table tbody tr td{
      padding: 0.2rem 0.2rem;
      font-size: .9em;
    }
    .settings-form{
    width:75%;
    padding-left:5%;
    }
            } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

